@font-face {
  font-family: "Vazirmatn";
  src: url("~assets/fonts/Vazirmatn[wght].woff2")
      format("woff2 supports variations"),
    url("~assets/fonts/Vazirmatn[wght].woff2") format("woff2-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
html,
body,
.theme--light.v-application {
  background-color: #eeeaea;
}
.default-card {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px !important;
}
.v-rating .v-icon {
  padding: 0 !important;
}
.v-card--link:before {
  border-radius: inherit !important;
}
